<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterBikes: Inicio</title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <div class="header-buttons">
        <h1>MASTER BIKES</h1>
        <button class="contact-button">📞</button>
        <button onclick="location.href='login.html'" class="login-button">Ingresa aquí</button>
    </div>
    <header>
        <nav>
            <ul>
                <li><a href="#">ARTÍCULOS</a></li>
                <li><a href="#">ARRIENDOS</a></li>
                <li><a href="#">REPARACIONES</a></li>
                <li><a href="#">OFERTAS</a></li>
                <li><a href="#">ACCESORIOS</a></li>
            </ul>
        </nav>
        
    </header>
    <main>
        <section class="hero">
            <div class="hero-images">
                <img src="path/to/image1.jpg" alt="Cyclists">
                <img src="path/to/image2.jpg" alt="Cyclist">
                <img src="path/to/image3.jpg" alt="Kids on bikes">
            </div>
            <p>Are you looking for an outer or even accessories that have streetwear style? Look no other! We dedicated our ideas to getting you a perfect fit for daily activities!</p>
            <button class="about-us-button">Sobre nosotros</button>
        </section>
        <section class="categories">
            <div class="category">
                <img src="path/to/bicicletas.jpg" alt="Bicicletas">
                <p>Bicicletas</p>
            </div>
            <div class="category">
                <img src="path/to/cascos.jpg" alt="Cascos">
                <p>Cascos</p>
            </div>
            <div class="category">
                <img src="path/to/mantenimiento.jpg" alt="Mantenimiento">
                <p>Mantenimiento</p>
            </div>
            <div class="category">
                <img src="path/to/arriendo.jpg" alt="Arriendo">
                <p>Arriendo</p>
            </div>
            <div class="category">
                <img src="path/to/accesorios.jpg" alt="Accesorios">
                <p>Accesorios</p>
            </div>
        </section>
    </main>
</body>
</html