{% extends 'core/base.html' %}
{% load static %}
    {% block content %}
    <main>
        <section class="hero">
            <div class="hero-images">
                <img src="{% static 'core/img/ciclista.jpg' %}" alt="Cyclists">
                <img src="{% static 'core/img/ciclistas.jpg' %}" alt="Cyclist">
                <img src="{% static 'core/img/miniciclistas.jpg' %}" alt="Kids on bikes">
            </div>
            <div class="contenedor-nosotros">
                <p>Somos una familia que fundó la fábrica de bicicletas "San Diego", nos dedicamos desde hace 30 años a la fabricación de diversos tipos de bicicletas y triciclos.</p>
                <button class="about-us-button">Sobre nosotros</button>
            </div>
        </section>
        <section class="categories">
            <div class="category">
                <img src="{% static 'core/img/bicicleta.jpg' %}" alt="Bicicletas">
                <p>Bicicletas</p>
            </div>
            <div class="category">
                <img src="{% static 'core/img/cascos.jpg' %}" alt="Cascos">
                <p>Cascos</p>
            </div>
            <div class="category">
                <img src="{% static 'core/img/mantencion.jpg' %}" alt="Mantenimiento">
                <p>Mantenimiento</p>
            </div>
            <div class="category">
                <img src="{% static 'core/img/arriendo.jpg' %}" alt="Arriendo">
                <p>Arriendo</p>
            </div>
            <div class="category">
                <img src="{% static 'core/img/accesorios.jpg' %}" alt="Accesorios">
                <p>Accesorios</p>
            </div>
        </section>
    </main>
    {% endblock content %}