{% extends 'core/base.html' %}
    {% load static %}
    {% block content %}
    <div class="container">
        <div class="left-panel">
            <img src="{% static 'core/img/registro.jpg' %}" alt="">
        </div>
        <div class="right-panel">
            <h1>Crear una cuenta nueva</h1>
            <p><a href="/login">¿Ya estás registrado? Accede acá.</a></p>
            <form class="form-reg">
                <label for="name" >Nombre completo</label>
                <input type="text" id="name" name="name" placeholder="Ian Puelles">
                
                <label for="email" >Email</label>
                <input type="email" id="email" class="input-form" name="email" placeholder="hola@gmail.com">
                
                <label for="password" >Contraseña</label>
                <input type="password" id="password" name="password" placeholder="********">
                
                <label for="address" >Dirección</label>
                <input type="text" id="address"name="address" placeholder="Calle 111, casa numero 123">
                
                <button type="submit">REGISTRARSE</button>
            </form>
        </div>
    </div>
    {% endblock content %}